.grid_12

  .grid_2.spacer.alpha

  .grid_8
    %h1 Thank you for the submission! 
  
    %p We will follow up with you on March 5th, 2010 with an acceptance or rejection notice. If you have any questions, please do not hesitate to <a href="/contact">contact us</a>.  
    
  .grid_2.spacer.omega
