.content
  %ul
    %li Made with Ruby : http://ruby.org
    %li Made with Ruby on Rails : http://rubyonrails.org
    %li made with Haml : http://haml-lang.com/
    %li Made with Gimp : http://gimp.org
    %li Lady Copra Font : http://www.moorstation.org/typoasis/designers/gemnew/home.htm
    %li 404 Error Image : http://www.flickr.com/photos/compujeramey/2467835043/
    