.grid_12#content#cfp
  .grid_1
    .spacer
    
  .grid_8
    %ol
      %li 
        Made with Ruby
        %img{:src=>"/images/ruby_icon.png"}
      %li 
        Made with Ruby on Rails
        %img{:src=>"/images/rails_icon.png"}

      %li 
        Made with <a href="http://haml-lang.com/">Haml</a>
        %img{:src=>"http://haml-lang.com//images/haml.gif", :width=>100}

      %li 
        Made with <a href="http://gimp.org">Gimp</a> 
        %img{:src=>"http://www.gimp.org/about/splash/images/gimp-splash-2.6.png", :width=>100}

      %li <a href="http://www.moorstation.org/typoasis/designers/gemnew/home.htm">Lady Copra Font</a>

      %li <a href="http://www.flickr.com/photos/compujeramey/2467835043/">404 Error Image</a> 
    