.grid_12#content#cfp
  
  .grid_1
    .spacer
  .grid_10
    .spacer
    %h1 CALL FOR PROPOSALS

    %p We're sorry, this year's call for proposals in now closed.

    .spacer.clear
    .spacer.clear
