.grid_12#content#cfp
  
  .grid_8
    .spacer
    %h1 CALL FOR PROPOSALS

    %p At Red Dirt RubyConf, we’re excited to be trying out a new presentation format. We’ve preselected some hot themes we would like to have speeches on. These are broad topics covering a lot of landscape for our favorite language and the related tools. For each theme, we will select a 30 minute opening presentation to set the stage for the topic. We will then follow-up with a few 10 minute tightly focused topic speeches. This format has multiple advantages. First, presenters for a theme can handle Q & A as a team. We’ve also been able to tailor the trainings following the conference to these topics so attendees can learn valuable information and put it right to use. We hope this improves the conference experience for everyone and you can help by sending in your ideas below.

  
  .grid_4#theme_sidebar
    .spacer
    .theme_panel.margined
      .theme_icon
        %img{:src=>"/images/ruby_icon.png", :class=>"centered"}
      .theme_text
        %h1 RUBY
        %p 
          The Ruby language still has the power to surprise us.
          This theme is focused on Ruby syntax, gems and good development practices.
      .theme_drill_down 
        %a{:href=>"/themes/ruby"} More

    .spacer.clear

    .theme_panel.margined
      .theme_icon
        %img{:src=>"/images/rails_icon.png"}
      .theme_text
        %h1 RAILS 3
        %p 
          Ruby of Rails is crossing a huge milestone. 
          This theme is centered on topics such routing, metal, the new response system, and advanced queries.
      .theme_drill_down 
        %a{:href=>"/themes/rails3"} More

    .spacer.clear

    .theme_panel.margined
      .theme_icon
        %img{:src=>"/images/nosql_icon.png"}
      .theme_text
        %h1 NoSQL
        %p 
          Database choice affects application performance and scalability.
          This theme will focus on databases such as MognoDB, Riak, Redis, and Tokyo Cabinet.  
      .theme_drill_down 
        %a{:href=>"/themes/nosql"} More

    .spacer.clear

    .theme_panel.margined
      .theme_icon
        %img{:src=>"/images/web_icon.png"}
      .theme_text
        %h1 SERVERS
        %p 
          Ruby is well suites for web based applications. 
          This theme will focus on tools such as Rack, Unicorn, EventMachine, Resque and AWS.  
      .theme_drill_down 
        %a{:href=>"/themes/servers"} More

    .spacer.clear
