.grid_12#content#contacts
  .spacer
  %h1 CONTACTS

  .grid_3
    .spacer

  .grid_7

    .grid_4.alpha
      %h2 General Inquires 
      %h3
        %a{:href=>"mailto:general@reddirtrubyconf.com"} general@reddirtrubyconf.com

    .grid_3.omega
      %h2 Registration Questions
      %h3
        %a{:href=>"mailto:sales@reddirtrubyconf.com"} sales@reddirtrubyconf.com

    .spacer
     
    .grid_4.alpha
      %h2 Programming and Talk Submissions
      %h3
        %a{:href=>"mailto:programming@reddirtrubyconf.com"} James Edward Gray ||

    .grid_3.omega
      %h2 Training
      %h3
        %a{:href=>"mailto:training@reddirtrubyconf.com"} Grant Schofield

    .spacer

    .grid_4.alpha
      %h2 Sponsorship and Partnerships
      %h3
        %a{:href=>"mailto:sponsorship@reddirtrubyconf.com"} Derrick Parkhurst

    .grid_3.omega
      %h2 Venue and Accommodations
      %h3
        %a{:href=>"mailto:venue@reddirtrubyconf.com"} Dana Gray     
  
  .grid_2
    .spacer

.spacer.clear

.grid_12.divider.nomargin

.grid_12#content#contacts
  .spacer
  %h1 ORGANIZATIONAL COMMITTEE
  .grid_1
    .spacer
  .grid_10

    .grid_5.alpha
      .member_box_right
        %img{:src=>"/images/bio_photo_jamesgray.jpg",:class=>"large_photo"}
        %h2 James Edward Gray II
        %h3 
          %a{:href=>"http://graysoftinc.com"} Gray Productions Software Inc.
        %h4 
          %a{:href=>"http://twitter.com/jeg2"} @JEG2 
      %p James has been a part of the Ruby community since before Rails was released.  He started small by running the Ruby Quiz and writing a few libraries, including the FasterCSV library that replaced CSV in Ruby 1.9.  He eventually moved up to writing books for The Pragmatic Programmers and giving Ruby trainings.  At long last, after a pilgrimage to Japan to see Ruby's birthplace, he is now ready to run his own Ruby conference.  Next year, James plans to paint a giant Ruby on the moon that will be visible from Earth.

    .grid_5.omega
      .member_box_left
        %img{:src=>"/images/grantschofield_sq.jpg",:class=>"large_photo"}
        %h2 Grant Schofield
        %h3 
          %a{:href=>"http://engineyard.com"} EngineYard
        %h4 
          %a{:href=>"http://twitter.com/scofield"} @Schofield
      %p Grant Schofield is a sysadmin at his core but has always fancied himself a bit of a developer. Ruby was just a hobby until he became a support engineer for Engine Yard. Grant resides in downtown Oklahoma City with his family and is very active in many local technology groups including <a href="http://ok-ruby.org">OK.rb</a>.

    .clear.spacer

    .grid_5.alpha
      .member_box_right
        %img{:src=>"/images/derrickparkhurst_sq.jpg",:class=>"large_photo"}
        %h2 Derrick Parkhurst
        %h3 
          %a{:href=>"http://thirtysixthspan.com"} Thirty Sixth Span Internet Technologies
        %h4 
          %a{:href=>"http://twitter.com/thirtysixthspan"} @thirtysixthspan
      %p Derrick Parkhurst is owner of Thirty Sixth Span Internet Technologies, a software development consultancy specializing in the development of social networking tools and platforms.  He has interests in Human Computer Interaction, User-Centered Interface Design, and User Experience Design. Derrick has a Ph.D. in Psychology from Johns Hopkins University. Derrick is also a partner in the <a href="http://okccoco.com">Oklahoma City Coworking Collaborative</a>, a shared workspace for technology professionals.
	

    .grid_5.omega
      .member_box_left
        %img{:src=>"/images/danagray_sq.jpg",:class=>"large_photo"}
        %h2 Dana Gray
        %h3 
          %a{:href=>"http://graysoftinc.com"} Gray Productions Software Inc.
        %h4 
          %a{:href=>"http://twitter.com/dgrayinok"} @DGRAYINOK
      %p Dana is the ultimate partner in crime for James, supporting an unhealthy amount of his crazy ideas.  She's no longer even phased by questions like, "Honey, is it okay for us to build an entire Ruby conference in a few short months while you are pregnant?"  She just makes it all happen, from their shared work to the long list extra curricular activities.  She makes it all look good.

  .clear.spacer



  .grid_1




  .clear.spacer
