

.grid_12#themes.nomargin

  #theme_plate    
    %img{:src=>"/images/conference_themes.png"}

  .grid_3.theme_panel
    .theme_icon
      %img{:src=>"/images/ruby_icon.png", :class=>"centered"}
    .theme_text
      %h1 RUBY
      %p 
        The Ruby language still has the power to surprise us.
        This theme is focused on Ruby syntax, gems and good development practices.
    .theme_drill_down 
      %a{:href=>"/themes/ruby"} More

  .grid_3.theme_panel
    .theme_icon
      %img{:src=>"/images/rails_icon.png"}
    .theme_text
      %h1 RAILS 3
      %p 
        Ruby of Rails is crossing a huge milestone. 
        This theme is centered on topics such routing, metal, the new response system, and advanced queries.
    .theme_drill_down 
      %a{:href=>"/themes/rails3"} More

  .grid_3.theme_panel
    .theme_icon
      %img{:src=>"/images/nosql_icon.png"}
    .theme_text
      %h1 NoSQL
      %p 
        Database choice affects application performance and scalability.
        This theme will focus on databases such as MognoDB, Riak, Redis, and Tokyo Cabinet.  
    .theme_drill_down 
      %a{:href=>"/themes/nosql"} More

  .grid_3.theme_panel.omega
    .theme_icon
      %img{:src=>"/images/web_icon.png"}
    .theme_text
      %h1 SERVERS
      %p 
        Ruby is well suites for web based applications. 
        This theme will focus on tools such as Rack, Unicorn, EventMachine, Resque and AWS.  
    .theme_drill_down 
      %a{:href=>"/themes/servers"} More

  .grid_12.spacer.nomargin

.clear
.grid_12#divider.nomargin
.clear

.grid_12#content
  .spacer

  .grid_9
    .grid_6.alpha#conference
      %h1 A DIFFERENT CONFERENCE
      %hr

      .conference_panel
        .conference_text
          %p We are excited to launch the first Red Dirt Ruby Conference in 2010. Our goal is to create a unique conference experience within the Ruby community. We have crafted a two-day event that will provide focused and up-to-date content and training in four of the most important areas of active development in the Ruby world. 

          %p We are partnering with leaders in the industry to assure that your investment of time will be rewarded with an energizing and interactive conference experience. 

          %p The single-track format and limited attendance assures that you will be able to participate fully in the entire conference experience and have the opportunity to meet and interact with other ruby developers.  

        .conference_drill_down.right
          %a{:href=>"/format/training"} More

    .grid_3.omega#keynotes
      %h1 KEYNOTES
      %hr
	  
      .keynote_panel
        .keynote_image.right
          %img{:src=>"/images/davethomas.png"}
        .keynote_text.left
          %h2 Dave Thomas
          %h3 Pragmatic Programmers 
        .keynote_drill_down.left 
          %a{:href=>"/presentations/Dave_Thomas"} More

      .keynote_panel
        .keynote_text.right
          %h2 Jim Weirich
          %h3 EdgeCase 
        .keynote_drill_down.right
          %a{:href=>"/presentations/Jim_Weirich"} More
        .keynote_image.left
          %img{:src=>"/images/jimweirich.png"}

    .grid_9.spacer

    .grid_9.alpha#news 

      %h1 NEWS
      %hr

      .news_panel
        .news_drill_down.right
          %a{:href=>"/news/"} Read More


  .grid_3.omega#sponsors
    %h1 SPONSORS
    %hr

    .sponsors_panel
    .sponsors_panel
    .sponsors_panel
	  
    %h1 PARTNERS
    %hr
    .sponsors_panel
      %a{:href=>"http://basho.com"}
        %img{:src=>"/images/basho.png"}
    .sponsors_panel
      %a{:href=>"http://envylabs.com"}
        %img{:src=>"/images/envylabs.png"}

  
  .clear.spacer

	
	