

.grid_12#themes.nomargin

  #theme_plate    
    %img{:src=>"/images/conference_themes.png"}

  .grid_3.theme_panel
    .theme_icon
      %img{:src=>"/images/ruby_icon.png", :class=>"centered"}
    .theme_text
      %h1 RUBY
      %p 
        The Ruby language still has the power to surprise us.
        This theme is focused on Ruby syntax, gems and good development practices.
    .theme_drill_down 
      %a{:href=>"/theme/ruby"} More

  .grid_3.theme_panel
    .theme_icon
      %img{:src=>"/images/rails_icon.png"}
    .theme_text
      %h1 RAILS 3
      %p 
        Ruby on Rails is crossing a huge milestone. 
        This theme is centered on topics such routing, metal, the new response system, and advanced queries.
    .theme_drill_down 
      %a{:href=>"/theme/rails3"} More

  .grid_3.theme_panel
    .theme_icon
      %img{:src=>"/images/nosql_icon.png"}
    .theme_text
      %h1 NoSQL
      %p 
        Database choice affects application performance and scalability.
        This theme will focus on databases such as MognoDB, Riak, Redis, and Tokyo Cabinet.  
    .theme_drill_down 
      %a{:href=>"/theme/nosql"} More

  .grid_3.theme_panel.omega
    .theme_icon
      %img{:src=>"/images/web_icon.png"}
    .theme_text
      %h1 SERVERS
      %p 
        Ruby is well suited for web based applications. 
        This theme will focus on tools such as Rack, Unicorn, EventMachine, Resque and AWS.  
    .theme_drill_down 
      %a{:href=>"/theme/servers"} More

  .grid_12.spacer.nomargin

.clear
.grid_12#divider.nomargin
.clear

.grid_12#content
  .spacer

  .grid_9
    .grid_6.alpha#conference
      %h1 A DIFFERENT CONFERENCE
      %hr

      .conference_panel
        .conference_text
          %p This is a unique conference experience within the Ruby community. We have crafted a two-day event that will provide <span class="umph">focused and up-to-date content and training</span> in four of the most important areas of active development in the Ruby world. We are keeping the event a <span class="umph"><a href="/program">single-track format</a></span> and <span class="umph"><a href="register_to_attend">strictly limiting attendance</a></span> in order to assure that each attendee will have an optimal experience.
          
          %p <span class="umph">Conference sessions will be focused on a single theme</span> and consist of four talks followed by a joint question, answer and discussion with all the speakers. <span class="umph"><a href="/training">Three hour training sessions</a></span> related to each conference session will follow on the second day of the event. We believe that training the day after thematically related conference presentations will enhance the training quality by providing a context.

          %p An important reason to attend this event is to have <span class="umph">the opportunity to meet and interact with other ruby developers</span>. Towards making the event as interactive as possible we have set aside a dedicated space for casual discussions, coding sessions, impromptu presentations, and an evening hackfest. Furthermore, we are hosting breakfast, lunch, and dinner to provide further opportunities for interaction and discussion.

        .keynote_drill_down.right
          %a{:href=>"/register_to_attend"} More

    .grid_3.omega#keynotes
      %h1 KEYNOTES
      %hr
	  
      .keynote_panel
        .keynote_image.right
          %img{:src=>"/images/davethomas.png"}
        .keynote_text.left
          %h2 Dave Thomas
          %h3 Pragmatic Programmers 
        .keynote_drill_down.left 

      .keynote_panel
        .keynote_text.right
          %h2 Jim Weirich
          %h3 EdgeCase 
        .keynote_drill_down.right
          %a{:href=>"/presentation/keynotes"} More
        .keynote_image.left
          %img{:src=>"/images/jimweirich.png"}

    .grid_9.spacer

    .grid_9.alpha#news 

      %h1 NEWS
      %hr

      .news_panel
        - @news.each do |@news_item|
          = render :partial => "news_item", :locals => { :news_item => @news_item }
      
      .news_drill_down.right
        %a{:href=>"/news/"} Read More


  .grid_3.omega#sponsors
    %h1 SPONSORS
    %hr

    .sponsors_panel
    .sponsors_panel
    .sponsors_panel
	  
    %h1 PARTNERS
    %hr
    .sponsors_panel
      %a{:href=>"http://basho.com"}
        %img{:src=>"/images/basho.png"}
    .sponsors_panel
      %a{:href=>"http://envylabs.com"}
        %img{:src=>"/images/envylabs.png"}
    .sponsors_panel
      %a{:href=>"http://squeejee.com"}
        %img{:src=>"/images/squeejeelogo.png"}

  
  .clear.spacer

	
	