.grid_12#privacy
  .spacer

  .grid_2
    .spacer

  .grid_8

    %h1 Privacy Policy

    %p Privacy is important to us. To better protect the privacy of our clients, event attendees, sponsors and partners (herein collectively referred to as Users) we provide this notice explaining our information practices. This privacy policy tells you how we collect, use and distribute information. These practices may be changed, but any changes will be posted and changes will only apply to activities and information on a going forward, not retroactive basis.

    %p 1) Collection of Submitted Information - As part of our membership, website, or other function, we may collect personally identifiable information from Users, including, but not limited to, names, postal addresses, email addresses, and phone numbers. When you send us email or other communications, we retain those communications.

    %p 2) Tracking Technology - We may use tracking technology to monitor your activities both online and offline. Tracking technology will be used for gathering information useful for determining the usage patterns of our Services with the goal of improving our Services.

    %p 3) Distribution of Information - We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.

    %p 4) Usage of Collected Information - All information collected will be used to provide and improve services. We may also use this information to assure the security of information, property and persons. We will never use or share the personally identifiable information in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses. We do not and will not rent or sell any information collected from Users.

    %p 5) Commitment to Data Security - We will strive to keep your personally identifiable information secure. To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. Only authorized employees, agents and contractors have access to this information.

    %p 6) Questions or suggestions related to this privacy policy may be directed to:

    .grid_1
      .spacer
    .grid_4
      %p
        Privacy Policy <br/>
        Red Dirt Ruby Conference <br/>
        723 N Hudson Ave <br/>
        Oklahoma City, OK, 73102 <br/>
        privacy@reddirtrubyconf.com <br/>


.spacer.clear