.grid_12#content#schedule

  .spacer 

  .grid_4
    .spacer
  .grid_7
    .schedule_block
      .schedule_block_header
      .schedule_block_body
        .white_header THURSDAY, MAY 6th
      .schedule_block_bg
  .grid_1

.grid_12#content#schedule.schedule_bg

  .spacer

  .grid_1
    .spacer
  .grid_2
    .time_block_b
      .time_block_b_header
        .time_block_b_body.hour
          %ul
            %li 8:00 AM
            %li 8:30 AM
  .grid_9
    .schedule_block_b
      .schedule_block_b_header
      .schedule_block_b_body.hour
        %h1 BREAKFAST
  .clear 

  .grid_1 
    .spacer
  .grid_2
    .time_block_r
      .time_block_r_header
        .time_block_r_body.hour
          %ul
            %li 9:00 AM
            %li 9:30 AM
  .grid_9
    .schedule_block_r
      .schedule_block_r_header
      .schedule_block_r_body.hour
        %img{:src=>"/images/jim_weirich_sq.png", :class=>'large_photo right'}
        %h1 MORNING KEYNOTE
        %h3 Jim Weirich, EdgeCase
  .clear 
        
  .grid_1
    .spacer
  .grid_2
    .time_block_y
      .time_block_y_header
        .time_block_y_body.hourhalf
          %ul
            %li 10:00 AM
            %li 10:30 AM
            %li 11:00 AM
  .grid_9
    .schedule_block_y
      .schedule_block_y_header
      .schedule_block_y_body.hourhalf
        %img{:src=>"/images/ruby_icon.png", :class=>'right'}
        %h1 RUBY VODOO
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_y
      .time_block_y_header
        .time_block_y_body.hourhalf
          %ul
            %li 11:30 AM
            %li 12:00 AM
            %li 12:30 AM
  .grid_9
    .schedule_block_y
      .schedule_block_y_header
      .schedule_block_y_body.hourhalf
        %img{:src=>"/images/rails_icon.png", :class=>'right'}
        %h1 RAILS 3
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_b
      .time_block_b_header
        .time_block_b_body.hour
          %ul
            %li 1:00 PM
            %li 1:30 PM
  .grid_9
    .schedule_block_b
      .schedule_block_b_header
      .schedule_block_b_body.hour
        %h1 LUNCH
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_y
      .time_block_y_header
        .time_block_y_body.hourhalf
          %ul
            %li 2:00 PM
            %li 2:30 PM
            %li 3:00 PM
  .grid_9
    .schedule_block_y
      .schedule_block_y_header
      .schedule_block_y_body.hourhalf
        %img{:src=>"/images/nosql_icon.png", :class=>'right'}
        %h1 NoSQL
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_y
      .time_block_y_header
        .time_block_y_body.hourhalf
          %ul
            %li 3:30 PM
            %li 4:00 PM
            %li 4:30 PM
  .grid_9
    .schedule_block_y
      .schedule_block_y_header
      .schedule_block_y_body.hourhalf
        %img{:src=>"/images/web_icon.png", :class=>'right'}
        %h1 SERVERS
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_c
      .time_block_c_header
        .time_block_c_body.hour
          %ul
            %li 5:00 PM
            %li 5:30 PM
  .grid_9
    .schedule_block_c
      .schedule_block_c_header
      .schedule_block_c_body.hour
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_b
      .time_block_b_header
        .time_block_b_body.hour
          %ul
            %li 6:00 PM
            %li 6:30 PM
  .grid_9
    .schedule_block_b
      .schedule_block_b_header
      .schedule_block_b_body.hour
        %h1 DINNER
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_g
      .time_block_g_header
        .time_block_g_body.halfhour
          %ul
            %li 7:00 PM
  .grid_9
    .schedule_block_g
      .schedule_block_g_header
      .schedule_block_g_body.halfhour
        %img{:src=>"/images/gregg.jpg", :class=>'photo left'}
        %a{:href=>"http://ruby5.envylabs.com"}
          %img{:src=>"/images/ruby5.png", :class=>'right'}
        %h2 Ruby5 Podcast
        %h3 Gregg Pollack, EnvyLabs
        %p Attend a live recording of the Ruby5 Podcast.
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_r
      .time_block_r_header
        .time_block_r_body.hour
          %ul
            %li 8:00 PM
            %li 8:30 PM
  .grid_9
    .schedule_block_r
      .schedule_block_r_header
      .schedule_block_r_body.hour
        %img{:src=>"/images/davethomas_sq.png", :class=>'large_photo right'}
        %h1 EVENING KEYNOTE
        %h3 Dave Thomas, The Pragmatic Programmers
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_p
      .time_block_p_header
        .time_block_p_body.twohours
          %ul
            %li 9:00 PM
            %li 9:30 PM
            %li 10:00 PM
            %li 10:30 PM
  .grid_9
    .schedule_block_p
      .schedule_block_p_header
      .schedule_block_p_body.twohours
        %h1 HACKFEST
  .clear 


.grid_12#content#schedule

  .spacer 
  .spacer 
  .spacer 

  .grid_4
    .spacer
  .grid_7
    .schedule_block
      .schedule_block_header
      .schedule_block_body
        .white_header FRIDAY, MAY 7th
      .schedule_block_bg
  .grid_1

.grid_12#content#training.schedule_bg

  .spacer

  .grid_1
    .spacer
  .grid_2
    .time_block_b
      .time_block_b_header
        .time_block_b_body.halfhour
          %ul
            %li 8:00 AM
  .grid_9
    .schedule_block_b
      .schedule_block_b_header
      .schedule_block_b_body.halfhour
        %h1 BREAKFAST
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_y
      .time_block_y_header
        .time_block_y_body.hourhalf
          %ul
            %li 9:00 PM
            %li 10:00 PM
            %li 11:00 PM
  .grid_4
    .schedule_block_lh_y
      .schedule_block_lh_y_header
      .schedule_block_lh_y_body.hourhalf
        %h2 The Ruby Your Mother Warned You About
        .training_box
          %img{:src=>"/images/ruby_icon.png", :class=>'right'}
          %h1 TRAINING
          %img{:src=>"/images/jamesgray.jpg", :class=>'photo right'}
        %h3 James Edward Gray II
        %p In this training, you will get to see several examples of scary Ruby code. The samples will be inspired by code I have actually seen in the wild. As a team, we will Rubyify the code, examine exactly what that means and why it is an improvement, and then land on some guidelines we can use to keep our code from scaring our mom.

  .grid_4
    .schedule_block_rh_y
      .schedule_block_rh_y_header
      .schedule_block_rh_y_body.hourhalf
        %h2 The Rails 3 Ropes Course
        .training_box
          %img{:src=>"/images/rails_icon.png", :class=>'right'}
          %h1 TRAINING
          %img{:src=>"/images/gregg.jpg", :class=>'photo right'}
        %h3 Gregg Pollack
        %p	For this ropes course, members of the Envy Labs team will march you through the core concepts of Rails 3 while taking you through the development of a new Rails application. At the end of this course you will come away with a better understanding what’s new in Rails 3, and equally as important, what has changed since Rails 2.

  .clear


  .grid_1
    .spacer
  .grid_2
    .time_block_b
      .time_block_b_header
        .time_block_b_body.halfhour
          %ul
            %li 12:00 PM
  .grid_9
    .schedule_block_b
      .schedule_block_b_header
      .schedule_block_b_body.halfhour
        %h1 LUNCH
  .clear 

  .grid_1
    .spacer
  .grid_2
    .time_block_y
      .time_block_y_header
        .time_block_y_body.hourhalf
          %ul
            %li 1:00 PM
            %li 2:00 PM
            %li 3:00 PM
  .grid_4
    .schedule_block_lh_y
      .schedule_block_lh_y_header
      .schedule_block_lh_y_body.hourhalf
        %h2 Introduction to Riak 
        .training_box
          %img{:src=>"/images/nosql_icon.png", :class=>'right'}
          %h1 TRAINING
          %img{:src=>"/images/seancribbs.jpg", :class=>'photo right'}
        %h3 Sean Cribbs
        %p The team from Basho will lead you through the ins and outs of <A href="http://riak.basho.com/">Riak</a>, a document-oriented database. Riak combines a decentralized key-value store, a flexible map/reduce engine, and a friendly HTTP/JSON query interface to provide a database ideally suited for Web applications. 

  .grid_4
    .schedule_block_rh_y
      .schedule_block_rh_y_header
      .schedule_block_rh_y_body.hourhalf
        %h2 Introduction to Heroku 
        .training_box
          %img{:src=>"/images/web_icon.png", :class=>'right'}
          %h1 TRAINING
          %img{:src=>"", :class=>'photo right'}
        %h3 
        %p <A href="http://heroku.com">Heroku</a> is the instant ruby platform. Deploy any ruby app instantly with a simple and familiar git push. Take advantage of features like HTTP caching, memcached, rack middleware, and instant scaling built into every app. Heroku is a multi-tenant platform and hosting environment. No need to manage servers, slices, or clusters.

  .clear


  .grid_1
    .spacer
  .grid_2
    .time_block_b
      .time_block_b_header
        .time_block_b_body.halfhour
          %ul
            %li 4:00 PM
  .grid_9
    .schedule_block_b
      .schedule_block_b_header
      .schedule_block_b_body.halfhour
        %h1 Red Dirt Ruby Social Hour
  .clear 


  .clear.spacer

	
