.grid_12#content#register
  
  .grid_1
    .spacer
  .grid_10
    .spacer
    %h1 Purchase the Conference Video

    %p Conference registration is closed but you don't have to miss out. <a href="/order/form">You can purchase the video</a> of the event for the low price of $99. The videos include the keynote presentations, conference talks, panel discussions, and all the training sessions. Videos are available for viewing on this website. Once your purchase is complete an access code will be emailed to you.
    
    %p <a href="/video">Example videos from the conference are available on the video page</a>.
       
    %h2 Questions
    %p Direct all registration related questions to <a href="mailto:registration@reddirtrubyconf.com">purchasing support</a>.
 
.grid_1
  .spacer