.grid_12#content#register
  
  .grid_1
    .spacer
  .grid_10
    .spacer
    %h1 Purchase the Conference Video

    %p Conference registration is closed but you don't have to miss out. <a href="/order/form">You can purchase the video</a> of the event for the low price of $99. The videos include the keynote presentations, conference talks, panel discussions, and all the training sessions. Videos will be ready for distribution on June 4th and will be made available on this website for viewing by attendees and anyone who purchases the video. Purchase now and save. The price will go up on June 4th.
       
    %h2 Questions
    %p Direct all registration related questions to <a href="mailto:registration@reddirtrubyconf.com">purchasing support</a>.
 
.grid_1
  .spacer