.grid_12#content#register
  
  .grid_1
    .spacer
  .grid_10
    .spacer
    %h1 REGISTER TO ATTEND
    %p Registration is now open - <a href="http://reddirtrubyconf.com/order/form">Registration Signup Form</a>
      
    %h2 Pricing
    %table
      %tr{:style=>"background-color:#ccc"} 
        %td Registration Deadline
        %td Standard Price<br>April 23rd  
        %td Last Minute Price<br>May 5th  
      %tr{:style=>"background-color:#eee"} 
        %td Conference Pass
        %td $299
        %td $399  
      %tr{:style=>"background-color:#eee"} 
        %td Training Pass
        %td $249
        %td $349  
      %tr{:style=>"background-color:#eee"}
        %td Video Delivery
        %td $99
        %td $129  
      
    %p <a href="http://reddirtrubyconf.com/order/form">Registration Signup Form</a>

    %h2 What is Included?      
    - @items = Item.find(:all)
    - @items.each do |item|
      .item_descriptions
        %h3= item.name 
        %p= item.description 
 
    %h2 Questions
    %p Direct all registration related questions to <a href="mailto:registration@reddirtrubyconf.com">registration@reddirtrubyconf.com</a>.
 
.grid_1
  .spacer
      