.grid_12#content#register
  .grid_1
    .spacer
  .grid_10
    .spacer




%h1 Press credentials
%p Media may request press credentials by emailing <a href="mailto:registration@reddirtrubyconf.com">registration@reddirtrubyconf.com</a> with Name, Affiliation, Media Outlet, and any Special Requests.



%li Cancellations may be made up until April 2nd, 2010. Registration fees will be refunded minus a $100 processing fee. Any registrations made after that date will be non-refundable. Registration may not be resold and is non-transferrable.

