.grid_12#content#register
  
  .grid_1
    .spacer
  .grid_10
    .spacer
    %h1 REGISTER TO ATTEND

    %p The registration system is not yet open. Please check back March 5th.
    
    %p 
      %h2 Conference Registration will include
      %ol
        %li Access to the conference sessions and hallway track activities on May 6th
        %li Breakfast, Lunch, Snacks and Dinner
        %li Red Dirt Tshirt
        %li Swag and a shot at prizes

    %p 
      %h2 Training Registration will include
      %ol
        %li Access to a morning and evening training session on May 7th
        %li Breakfast, Lunch, Snacks
        %li Training Materials
 
.grid_1
  .spacer
      