.grid_12#content#sponsorship
  .spacer
  
  .grid_1
    .spacer
  .grid_10
    %h1 SPONSORSHIPS AND PARTNERSHIPS

    %p We are excited to launch the first Red Dirt Ruby Conference in 2010. Our goal is to create a unique conference experience within the Ruby community. We have crafted a two-day event that will provide focused and up-to-date content and training in four of the most important areas of active development in the Ruby world. We expect to host between 120-150 of the nation's leading Ruby and Rails development professionals.

    %img{:src=>"http://cache.marriott.com/propertyimages/o/okcbr/phototour/okcbr_phototour07.jpg", :align=>'right'}

    %p We believe that sponsors and partners are an important part of any successful and sustainable conference. We desire to involve sponsors in our event in ways that are mutually and maximally beneficial for both sponsors and attendees.  

    %p 
      %span{:class=>"emphasis"} There is no better way to communicate you message than to interact one-on-one with the community.
      An intimate event like this is the ideal opportunity to make a powerful impact on a targeted audience. 

    %p  
      %span{:class=>"emphasis"} Reach and impact a national audience by participating in the live, streaming presentations. The live stream will provide sponsors the opportunity to simultaneously reach conference attendees as well a much larger and much more diverse audience.    

    %p Please direct all sponsorship inquires to our <a href="mailto:sponsorship@reddirtrubyconf.com">sponsorship coordinator, Derrick Parkhurst</a>. An event prospectus with tiered sponsorship opportunities is available upon request. However, we welcome and encourage inquires about unique or different ways in which we might involve sponsors in our event.

  .grid_1
    .spacer
 

.spacer.clear
