.grid_12#terms
  .spacer

  .grid_2
    .spacer

  .grid_8

    %h1 Terms of Use

    %p This Terms of Use Agreement sets forth the standards of use of this website. By using the website you agree to these terms and conditions. If you do not agree to the terms and conditions of this agreement, you should immediately cease all usage of this website. We reserve the right, at any time, to modify, alter, or update the terms and conditions of this agreement without prior notice. Modifications shall become effective immediately upon being posted. Your continued use of the website after amendments are posted constitutes an acknowledgement and acceptance of the Agreement and its modifications. Except as provided in this paragraph, this Agreement may not be amended.

    %h2 1. Disclaimer of Warranties.

    %p THE OKLAHOMA CITY COWORKING COLLABORATIVE, LLC DISCLAIMS ALL WARRANTIES AND CONDITIONS, EXPRESS AND IMPLIED, WITH REGARD TO THE CONTENT, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF ACCURACY, RELIABILITY, TITLE, MERCHANTABILITY, NON-INFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE OR ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN WRITING, OR IN ELECTRONIC FORM, INCLUDING THE ACCURACY OR COMPLETENESS OF ANY INFORMATION CONTAINED THEREIN.

    %p THE WEB SITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SITE-RELATED SERVICE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS, IMPLIED, OR STATUTORY, INCLUDING BUT NOT LIMITED TO WARRANTIES OF TITLE, NO INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THIS AGREEMENT.

    %h2 2. Limitation of Liability

    %p THE OKLAHOMA CITY COWORKING COLLABORATIVE, LLC SHALL NOT BE LIABLE FOR ANY DAMAGES WHATSOEVER, AND IN PARTICULAR THE OKLAHOMA CITY COWORKING COLLABORATIVE, LLC SHALL NOT BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOSS OF REVENUE, OR LOSS OF USE, ARISING OUT OF OR RELATED TO THIS WEB SITE OR THE INFORMATION CONTAINED IN IT, WHETHER SUCH DAMAGES ARISE IN CONTRACT, NEGLIGENCE, TORT, UNDER STATUTE, IN EQUITY, AT LAW, OR OTHERWISE, EVEN IF THE OKLAHOMA CITY COWORKING COLLABORATIVE, LLC HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

    %p YOU AGREE THAT ALL USE OF THE CONTENT IS AT YOUR OWN RISK, AND THAT THE OKLAHOMA CITY COWORKING COLLABORATIVE, LLC WILL NOT BE HELD LIABLE FOR ANY ERRORS OR OMISSIONS CONTAINED IN THE CONTENT.

    %h2 3. Indemnification

    %p You agree that in no event shall The Oklahoma City Coworking Collaborative, LLC become liable for any loss or damages, consequential or otherwise, arising from the use, operation or interpretation of the data. You agree to indemnify, defend and hold harmless The Oklahoma City Coworking Collaborative, LLC for any and all liability of any nature arising out of or resulting from the lack of accuracy or correctness of the data, or the use of the data. You also agrees to indemnify, defend and hold harmless The Oklahoma City Coworking Collaborative, LLC from any claim or demand, including reasonable attorneys' fees and costs, made by any third party due to or arising out of use of the site or the violation of this Agreement.

    %p You post your personal information on this website at your own risk. Although we allow you to set privacy options that control and limit access to your information, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of all users. Therefore, we cannot and do not guarantee that personal information that you post on this website will not be obtained by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on this website.

    %h2 4. Modifications and Interruption to Website

    %p The Oklahoma City Coworking Collaborative, LLC reserves the right to modify or discontinue the website with or without notice. The Oklahoma City Coworking Collaborative, LLC shall not be liable should The Oklahoma City Coworking Collaborative, LLC exercise its right to modify or discontinue the website. The Oklahoma City Coworking Collaborative, LLC does not guarantee continuous, uninterrupted or secure access to our website and operation of our website may be interfered with or adversely affected by numerous factors or circumstances outside of our control.

    %h2 5. Third-Party Sites

    %p Our website may include links to other sites on the Internet that are owned and operated by state, national or international agencies, online merchants and other third parties. You acknowledge that we are not responsible for the availability of, or the content located on or through, any third-party site. You should contact the site administrator or webmaster for those third-party sites if you have any concerns regarding such links or the content located on such sites. Your use of those third-party sites is subject to the terms of use and privacy policies of each site, and we are not responsible therein.

    %h2 6. Governing Jurisdiction of the Courts

    %p This Agreement is entered into in the State of Oklahoma and shall be governed by and construed in accordance with the laws of the State of Oklahoma, exclusive of its choice of law rules. Each party to this Agreement hereby submits to the exclusive jurisdiction of the state and federal courts sitting in the County of Oklahoma in the State of Oklahoma, and waives any jurisdictional, venue or inconvenient forum objections to such courts. In any action to enforce this Agreement, the prevailing party will be entitled to costs and attorneys' fees. No representation is made that the website is appropriate, legal or available for use in locations other than Oklahoma. Accordingly, if you choose to access our site you agree to do so subject to the internal laws of the State of Oklahoma.

    %h2 7. Compliance with Laws

    %p Users assumes all knowledge of applicable law and is responsible for compliance with any such laws. Users may not use the website in any way that violates applicable state, federal, or international laws, regulations or other government requirements. Members further agrees not to transmit any material that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national, or international law or regulation.

    %h2 8. Copyright, Trademark and Intellectual Property

    %p All content included or available on this site, including site design, text, graphics, interfaces, and the selection and arrangements thereof is 2010 The Oklahoma City Coworking Collaborative, LLC, with all rights reserved, or is the property of The Oklahoma City Coworking Collaborative, LLC and/or third parties protected by intellectual property rights, except for any and all information provided by Users. Information provided by Users remains owned by said members and is protected by copyright and intellectual property rights.

    %p Any use of materials derived from this website, including reproduction for purposes other than those noted above, modification, distribution, or replication, any form of data extraction or data mining, or other commercial exploitation of any kind is strictly prohibited.

    %p Red Dirt Ruby Conference, and Red Dirt RubyConf are trademarks. You may not use these trademarks without the prior written consent of The Oklahoma City Coworking Collaborative, LLC.

    %h2 9. Member Posted Content

    %p Member posted content may not be illegal, obscene, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or otherwise injurious or objectionable.

    %p We reserve the right at all times to take down any material we consider to be unacceptable or illegal.

    %p If you consider any material on our site to be illegal or unacceptable and wish to file a complaint, please do so by emailing support@reddirtrubyconf.com. On receipt of your complaint, we will investigate the complaint and may, as a result, remove or edit the content about which you are complaining.

    %h2 10. User Conduct

    %p The following conduct is not permitted on this website:

    %p Impersonating any person or entity or falsely stating or otherwise misrepresenting your affiliation with a person or entity

    %p Stalking or otherwise harassing another member

    %p Uploading , posting, emailing, transmiting or otherwise making available any Content that (1) is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable; (2) you do not have a right to make available under any law or under contractual or fiduciary relationships; (3) infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party; (4) is unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas that are designated for such purpose; (5) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;

    %p Using any robot, spider, or other automatic device to monitor, copy or interact with our web pages or the content contained therein.

    %h2 11. Commercial Use

    %p The Red Dirt Ruby Conference is a community of professionals. The purpose of the community is to facilitate connections between attendees. Attendee information may be used for commercial purposes when related to finding and contacting community members that might be interested in business collaboration.

    %p Under no circumstances shall the information obtained on this website be released, rented, or sold.

    %h2 12. Privacy

    %p By accepting this Terms of Use Agreement, you are consenting to the use and disclosure of your personally identifiable information and other practices as described in our Privacy Policy.


    %h2 13. Other Terms

    %p If any provision of this Terms of Use Agreement shall be unlawful, void or unenforceable for any reason, the other provisions (and any partially-enforceable provision) shall not be affected thereby and shall remain valid and enforceable to the maximum possible extent.


.spacer.clear