.grid_12#content#venue
  .spacer
  
  .grid_1
    .spacer
  .grid_10
    %h1 VENUE
    %p The Red Dirt Ruby Conference will be held in downtown <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Oklahoma+City,+OK&sll=35.478565,-97.163086&sspn=9.530509,16.062012&ie=UTF8&hq=&hnear=Oklahoma+City,+Oklahoma&ll=35.46756,-97.516428&spn=19.030195,32.124023&z=5">Oklahoma City, Oklahoma</a> at the <a href="http://www.coxconventioncenter.com/">Cox Convention Center</a>. The conference hotel will be the <a href="http://www.marriott.com/hotels/travel/okcbr-renaissance-oklahoma-city-convention-center-hotel/">Renaissance Hotel</a>, located just adjacent to the convention center.

    .spacer.clear

    %h4 Convention Center
    %a{:href=>"http://www.coxconventioncenter.com/maps/images/popmap2.jpg"}
      %img{:src=>"http://www.coxconventioncenter.com/maps/images/popmap2.jpg",:class=>"right",:width=>125}
    %p The Red Dirt Ruby Conference has reserved rooms 17-21 on the second floor (Concourse Level) of the Cox Convention Center. Breakout rooms as well as seating in the area directly outside the meeting rooms will be available for discussions, ad hoc presentations, work or other activities. An expo area for sponsor and vendor booths we be available. Wifi internet access will be provided throughout the area. Access to the conference hotel is conveniently provided by a skywalk on the second level.  
    
    .clear
    
    %h4 Conference Hotel
    %img{:src=>"http://cache.marriott.com/propertyimages/o/okcbr/phototour/okcbr_phototour23.jpg",:class=>"right",:width=>125}
    %ul
      %li <a href="http://www.marriott.com/hotels/travel/okcbr-renaissance-oklahoma-city-convention-center-hotel/">Renaissance Hotel</a>
      %li <a href="http://maps.google.com/maps?oe=UTF-8&sourceid=navclient&gfns=1&um=1&ie=UTF-8&q=renaissance+hotel&fb=1&gl=us&hq=renaissance+hotel&hnear=Oklahoma+City,+OK&cid=0,0,17219325968269009567&ei=Je2TS9icNoy2swO6wuT8Aw&sa=X&oi=local_result&ct=image&resnum=1&ved=0CAkQnwIwAA">Map</a> and <a href="http://www.marriott.com/hotels/fact-sheet/travel/okcbr-renaissance-oklahoma-city-convention-center-hotel/">Directions</a>
      %li Only downtown hotel offering complimentary airport transportation for guests
      %li AAA Four-diamond Rating 
      %li Block room rate $149 (plus taxes)
      %li Block availability is limited and you must reserve by April 5th, 2010
      %li <a href="http://www.marriott.com/hotels/travel/okcbr?groupCode=OTEOTEA&app=resvlink&fromDate=5/5/10&toDate=5/7/10">Online Reservations</a>
      %li Phone Reservations: 800-468-3571 (Group reservation under "OSTECH")
      %li Hotel directly connected to convention center via skywalk
      %li Valet Parking: $25 Daily, Off-site parking: $15 daily

    .spacer.clear

    %h4 Other nearby hotels
 
    %table
      %tr  
      %tr
        %td <a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=1046">Sheraton Downtown</a>
        %td <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Sheraton+Oklahoma+City+&sll=35.469164,-97.513897&sspn=0.017091,0.032873&gl=us&ie=UTF8&hq=Sheraton+Oklahoma+City&hnear=&z=15&iwloc=A">Map</a>
        %td 2 minute walk

      %tr 
        %td <a href="http://www.colcordhotel.com/">Colcord Hotel</a>
        %td <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=colcord+hotel+Oklahoma+City&sll=36.262546,-94.69305&sspn=0.071144,0.131493&gl=us&g=colcord+Oklahoma+City&ie=UTF8&cd=1&hq=colcord+hotel&hnear=Oklahoma+City,+OK&ll=35.467783,-97.514048&spn=0.008546,0.016437&z=16&iwloc=A">Map</a>
        %td 2 minute walk

      %tr 
        %td <a href="http://www.marriott.com/hotels/travel/okcdt-courtyard-oklahoma-city-downtown/">Courtyard Marriott Downtown</a>
        %td <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=courtyard+marriott+downtown&sll=35.46614,-97.514026&sspn=0.008983,0.016437&gl=us&ie=UTF8&hq=courtyard+marriott+downtown&hnear=&ll=35.466105,-97.515185&spn=0.008983,0.016437&z=16&iwloc=A">Map</a>
        %td 2 minute walk
        
      %tr
        %td <a href="http://www1.hilton.com/en_US/hi/hotel/OKCSKHF-The-Skirvin-Hilton-Oklahoma-City-Oklahoma/index.do">Skirvin Hilton</a>
        %td <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=skirvin+Oklahoma+City&sll=35.469164,-97.513897&sspn=0.017091,0.032873&gl=us&ie=UTF8&hq=skirvin&hnear=Oklahoma+City,+OK&ll=35.470195,-97.51291&spn=0.008546,0.016437&z=16&iwloc=A">Map</a>
        %td 5 minute walk
      
      %tr
        %td <a href="http://hamptoninn1.hilton.com/en_US/hp/index.do">Hampton Inn Suites</a>
        %td <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=hampton+inn+suites+downtown&sll=35.465686,-97.509992&sspn=0.004491,0.008218&gl=us&ie=UTF8&hq=hampton+inn+suites+downtown&hnear=&ll=35.467923,-97.509949&spn=0.008546,0.016437&z=16&iwloc=A">Map</a>
        %td 10 minute walk

      %tr
        %td <a href="http://www.marriott.com/hotels/travel/okcbt-residence-inn-oklahoma-city-downtown-bricktown/">Residence Inn Bricktown</a>
        %td <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=residence+inn+oklahoma+city+downtown&sll=35.466193,-97.508855&sspn=0.008546,0.016437&gl=us&ie=UTF8&hq=residence+inn+oklahoma+city+downtown&hnear=&ll=35.465389,-97.508812&spn=0.008546,0.016437&z=16&iwloc=A">Map</a>
        %td 15 minutes walk

    .spacer.clear

    %h4 Travel
    %a{:href=>"http://www.coxconventioncenter.com/maps/images/popmap3.jpg"}
      %img{:src=>"http://www.coxconventioncenter.com/maps/images/popmap3.jpg",:class=>"right",:width=>125}

    %p Oklahoma City is conveniently located in both the center of the midwest and the nation itself, making it an ideal location for a conference. Our city is within a days drive from Dallas, Kansas City, Austin, Saint Louis, Memphis, Albuquerque, and Denver. Convenient direct flights from cities on both coasts are available to the <a href="http://www.flyokc.com/">Will Rogers World Airport</a>. By Car, the Cox Convention Center is conveniently accessible off of I-40 and I-35.</a>.

    .spacer.clear

    %h4 Downtown Oklahoma City

    %p Oklahoma City has a thriving downtown with many hotels, restaurants, nightclubs, museums and parks. There numerous <A href="http://www.okccvb.org/index.php?submenu=what_to_do&src=gendocs&ref=WhattoDo&category=Main">activities</a> and <a href="http://www.okccvb.org/index.php?submenu=where_to_stay_dt&xsearch[0]=Downtown&submit.x=7&submit.y=6&submit=Go&xsearch_id=partners_search_hotel_area&src=directory&view=partners_lister_hotels&submenu=where_to_stay_dt">amenities</a> suitable for business, pleasure or a mix of both.   

 

.spacer.clear
  
