.grid_12#content#venue
  .spacer
  
  .grid_1
    .spacer
  .grid_6
    %h1 VENUE
    %p The Red Dirt Ruby Conference will be held in downtown <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Oklahoma+City,+OK&sll=35.478565,-97.163086&sspn=9.530509,16.062012&ie=UTF8&hq=&hnear=Oklahoma+City,+Oklahoma&ll=35.46756,-97.516428&spn=19.030195,32.124023&z=5">Oklahoma City, Oklahoma</a>. Meeting venue and discount hotel rates will be announced by March 1st.

    %p Oklahoma City is conveniently located in both the center of the midwest and the nation itself, making it an ideal location for a conference. Our city is within a days drive from Dallas, Kansas City, Austin, Saint Louis, Memphis, Albuquerque, and Denver. Convenient direct flights from cities on both coasts are available to the <a href="http://www.flyokc.com/">Will Rogers International Airport</a>.

    %p Oklahoma City has a thriving downtown with many hotels, restaurants, nightclubs, museums and parks. There numerous <A href="http://www.okccvb.org/index.php?submenu=what_to_do&src=gendocs&ref=WhattoDo&category=Main">activities</a> and <a href="http://www.okccvb.org/index.php?submenu=where_to_stay_dt&xsearch[0]=Downtown&submit.x=7&submit.y=6&submit=Go&xsearch_id=partners_search_hotel_area&src=directory&view=partners_lister_hotels&submenu=where_to_stay_dt">amenities</a> suitable for business, pleasure or a mix of both.  
 
  .grid_1
    .spacer

  .grid_4
    %img{:src=>"http://cache.marriott.com/propertyimages/o/okcbr/phototour/okcbr_phototour23.jpg"}
 

.spacer.clear
  
