<p style="float: left; margin-left: 40px; font-weight: bold; font-size: 2em;">RDRC</p>
<p style="float: left; margin: 30px 0px 0px 60px;">
    A ripoff comic of Ruby conferences,<br>
    bad drawing, and weak humor.
</p>

<div style="clear: both; width: 100%; padding: 10px; text-align: center;">
    <h1><%= h @alt %></h1>
    <img src="<%= @image %>" alt="<%= h @alt %>" title="<%= h @title %>">
</div>

<p style="margin-left: 40px; text-align: left;">
    Q: What does RDRC stand for?<br>
    A: Red Dirt RubyComic, of course!
</p>
