.grid_12#content#theme_drill_down
  
  .spacer

  - @presentations.each do |@presentation|
    = render :partial => "presentation", :locals => { :presentation => @presentation }

    .spacer.clear
    .spacer.clear
    .spacer.clear

  .grid_1
    .spacer 
    
  =link_to 'Back', :back 

  .spacer.clear
