.grid_12#order

  .grid_2.spacer

  .grid_8
    
    %h3 Finalize Payment
    %fieldset  
  
      %p Please review the information below and if correct submit payment.

    = render :partial=>'contact_details'
    
    = render :partial=>'order_details'

    %h3 PAYMENT
    %fieldset.order_form

      - parameters = { |
        :amount                 => @purchase.payment_amount, |
        :description            => "Red Dirt Ruby Conference Purchase", |
        :ipn_url                => "http://reddirtrubyconf.com/order/amazon_ipn", | 
        :return_url             => "http://reddirtrubyconf.com/order/payment_initiated", |
        :immediate_return       => true, |
        :process_immediately    => true, |
        :abandon_url            => "http://reddirtrubyconf.com/order/payment_failure", |
        :reference_id           => @purchase.payment_code, |
        :collect_shipping_address => false, |
        } |

      %p We are processing all payments for this conference through Amazon Payments. Amazon takes all major credit cards. All credit card information is stored securely for PCI compliance by Amazon.com. Please click Pay Now to be directed to the Amazon Payments portal. Upon completion, you will be redirected back to this website to finalize your purchase.
      
      %center
        %table{:class=>'order_table'}
          %tr
            %td
              = number_to_currency @purchase.payment_amount
              Due
            %td= simplepay_form_for(:standard, parameters, '<input type="image" src="https://authorize.payments.amazon.com/pba/images/GMPayNowWithLogo.png">')
          
  .grid_2.spacer
  
  .spacer.clear  
  .spacer.clear  
  
  
  
  
  