.grid_12#content#register
  
  .grid_1
    .spacer
  .grid_10
    .spacer

    %h2 What is Included?      
    .item_descriptions
      %h3= @item.name 
      %p= @item.description
    
.spacer.clear 
.spacer.clear 