.grid_12#order

  .spacer.clear
  .spacer.clear

  .grid_2.spacer

  .grid_8
    
    %p We're sorry, but your order was not found. Please contact <a href="mailto:support@reddirtrubyconf.com">support</a>.
   
  .spacer.clear
  .spacer.clear
   