.grid_12#order

  .grid_2.spacer

  .grid_8
    
    %h3 Payment Status
    %fieldset  
  
      %p Thank you very much for submitting payment. Your payment is being processed.
      
      %p You can check the status of your order <a href="/order/recall/#{@purchase.payment_code}"> on the following page</a>.
         
      %p Once your payment has been processed you will receive an email with a link to your order. You may need to whitelist email from reddirtrubyconf.com in order to be sure to receive your receipt.

      %p If you have any questions, please do not hesitate to <a href="mailto:registration@reddirtrubyconf.com">contact us</a>. 
      
  .spacer.clear     
  
  