.grid_12#order

  .grid_2.spacer

  .grid_8
    
    %h3 Payment Status
    %fieldset  
  
      %p We are sorry to report that your payment was declined. We cannot determine the exact cause. We suggest that you call your credit card company directly and inquire about the transaction. Ask the credit card company to allow you to make a second purchase attempt. 

      %p 
        You can also try <a href="http://reddirtrubyconf.com/order/recall/
        = @purchase.payment_code
        ">reviewing your order and resubmitting payment</a>.

      %p If you have any questions, please do not hesitate to <a href="mailto:registration@reddirtrubyconf.com">contact us</a>. 
      
  .spacer.clear     
  
  