%hr

%a{:href=>"http://reddirtrubyconf.com"}
  <img align="right" style="border:0px" src="http://reddirtrubyconf.com/images/rdrc_logo_web.png">
%p
  Red Dirt Ruby Conference<br />
  May 6-7th, 2010<br />
  Cox Convention Center<br />
  Oklahoma City, Oklahoma<br />
  <a href="http://reddirtrubyconf.com">http://reddirtrubyconf.com</a><br />
  <a href="mailto:registration@reddirtrubyconf.com">registration@reddirtrubyconf.com</a><br />
</p>


