%p
  = @purchase.name
  = ","

%p Thank you very much for your purchase from the Red Dirt Ruby Conference.

%p We are currently processing your payment. Payment processing may take as long as 1-2 days.

%p Once your payment is processed you will receive an email with your completed purchase receipt. If you do not, please contact <a href="mailto:registration\@reddirtrubyconf.com">support</a>.  

%p If you have any questions about this notice, please do not hesitate to contact <a href="mailto:support\@reddirtrubyconf.com">Red Dirt Ruby Conference registration support services</a>.

= render :partial=>'email_footer'


