%p= @purchase.name,

%p We are sorry to report that your payment was denied. We cannot determine the exact cause of the denial. We suggest that you call your credit card company directly and inquire about the transaction. Ask the credit card company to allow you to make a second purchase attempt. 

%p You can <a href="http://reddirtrubyconf.com/order/recall/#{@purchase.code}">review your order and resubmit payment on our website</a>.

%p If you have any questions about this notice, please do not hesitate to contact <a href="mailto:registration\@reddirtrubyconf.com">Red Dirt Ruby Conference registration support services</a>.

%hr

= render :partial=>'email_footer