%p= @purchase.name,

%p Thank you very much for your purchase from the Red Dirt Ruby Conference.

%p We have successfully processed your payment and a <a href="http://reddirtrubyconf.com/order/recall/#{@purchase.code}">completed purchase order</a> is available online.

%p= If you have any questions about this notice, please do not hesitate to contact <a href="mailto:support\@reddirtrubyconf.com">Red Dirt Ruby Conference registration support services</a>.

%hr

= render :partial=>'email_footer'