!!!
%html
  %head
    %title= @website_title
    = stylesheet_link_tag "960.css"
    = stylesheet_link_tag *(['global'] + @stylesheets)
  %body
    .container_12
      .grid_12#header.nomargin
        #nav_header
          #menu
            %ul
              %li 
                %a{:href=>"/"} NEWS           
              %li 
                %a{:href=>"/program"} PROGRAM         
              %li 
                %a{:href=>"/venue"} VENUE
              %li 
                %a{:href=>"/sponsorship"} SPONSORSHIP           
              %li 
                %a{:href=>"/contact"} CONTACT US        
        #call_to_action
          %a{:href=>"/call_for_proposals"}           
        #title 
          %img{:src=>"/images/title.png"}
      .clear
      .grid_12.divider.nomargin
      .clear

      = yield	
   
      .clear
      .grid_12.divider.nomargin
      .clear

      .grid_12#footer
        .grid_1
          %ul
            %li 
              %a{:href=>"/program"} Program
            %li 
              %a{:href=>"/keynotes"} Keynotes
            %li 
              %a{:href=>"/themes"} Themes
            %li 
              %a{:href=>"/talks"} Talks
            %li 
              %a{:href=>"/training"} Training
        .grid_2
          %ul
            %li 
              %a{:href=>"/"} Conference News
            %li 
              %a{:href=>"/call_for_proposals"} Propose a Talk
            %li 
              %a{:href=>"/register_to_attend"} Register to Attend
            %li 
              %a{:href=>"/venue"} Venue
            %li 
              %a{:href=>"/sponsorship"} Sponsorship
        .grid_2.shift_left
          %ul 
            %li
              %a{:href=>"/contact"} Contact Us
            %li
              %a{:href=>"/terms_of_use"} Terms of Use 
            %li
              %a{:href=>"/privacy_policy"} Privacy Policy 
            %li
              %a{:href=>"/acknowledgements"} Acknowledgements 
        .grid_2
          %ul
            %li <a href="http://twitter.com/reddirtrubyconf"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-b.png"/></a>



         


